<div class="perfume-container">
<div class="intoro">
    <h1>診断結果</h1>
</div>
    <% case @perfume.question1 %>
    <% when "1" %>
        <h2>ゴリマッチョへの筋トレ方法</h2>
        <p>ゴリマッチョになるためには自分への追い込みが大切です。</p>
        <p>この人達には以下の筋トレを紹介します。</p>
    <% when "2" %>
        <h2>細マッチョへの筋トレ方法</h2>
        <p>細マッチョになるためには日々の筋トレを継続させることが大切です。</p>
        <p>この人達には以下の筋トレを紹介します。</p>
    <% when "3" %>
        <h2>痩せるための筋トレ方法</h2>
        <p>痩せるためには筋トレも大切ですが、日々の運動と食がも最も大切だと考えます。</p>
        <p>この人達には以下の筋トレを紹介します。</p>
    <% end %>
</div>
